.pizza-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 30px;
    transition: background-color 1s linear;
}

.hidden{
    display: none;
}

.btn{
    padding: 10px;
    width: 200px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.delayed{
    background-color: red;
    color: white;
}