.App{
  overflow-x: hidden;
}

.App-Body{
  padding: 25px;
}

.page-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: rgb(154, 154, 154);
  color: white;
}

.pizza-stages {
  display: flex;
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
}

.orders-placed{
  width: 25%;
  border-right: 2px solid black;
}

.orders-making{
  width: 25%;
  border-right: 2px solid black;
}

.orders-ready{
  width: 25%;
  border-right: 2px solid black;
}

.orders-picked{
  width: 25%;
}

.main-section{
  width: 100%;
  text-align: center;
}

.header-container, .data-container{
  width: 100%;
  display: flex;
}

.main-head{
  font-weight: bold;
  font-size: 22px !important;
}

.main-data{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 15px;
  border: 1px solid black;
  font-size: 18px;
}

.totals-container{
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.total-data{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 15px;
  border: 2px solid rgb(0, 194, 3);
}
